/* CSS reset */
*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    word-break: keep-all;    margin: 0;
    padding: 0;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
a,
blockquote,
th,
td,
footer {

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: none;
}

ol,
ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a,
address {
    text-decoration: none;
    font-style: normal;
}


body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Pretendard','Noto Sans KR';
    &.stop_scroll{
        height: 100%;
        overflow: hidden;
    }
}